<!DOCTYPE html>
<html>
  <head>
    <%-include("./partials/header.ejs")%> 
  </head>
  <body>
    <nav>
      <%-include("./partials/navIndex.ejs")%> 
    </nav>
    <div class="container">
      <h2>Check out all of this artwork!</h2>
      <!-- <div class="artworks">
        <% if (currentUser) { %> 
          <% artworks.forEach( (artwork) => { %>
            <% if (artwork.userId) { %> 
              <% if (artwork.userId === currentUser._id) { %> 
                <div class="card">
                  <h5> <%= artwork.name  %></h5>
                  <a href="/artworks/<%=artwork.id%>">
                  <img src="<%= artwork.img %>" alt="An image of <%= artwork.name %>" /></a>
                  <h6>Price: $<%=artwork.price %></h6>
                </div>
              <% } %> 
            <% } %> 
          <% }); %>
          <% } else { %> 
            <% artworks.forEach( function (artwork) { %>
              <div class="card">
                <h5> <%= artwork.name  %></h5>
                <a href="/artworks/<%=artwork.id%>">
                <img src="<%= artwork.img %>" alt="An image of <%= artwork.name %>" /></a>
                <h6>Price: $<%=artwork.price %></h6>
              </div>
            <% }); %>
          <% } %> 
      </div> -->
      <div class="artworks">
        <% artworks.forEach( function (artwork) { %>
          <div class="card">
            <h5> <%= artwork.name  %></h5>
            <a href="/artworks/<%=artwork.id%>">
              <img src="<%= artwork.img %>" alt="An image of <%= artwork.name %>" /></a>
              <!-- <h6>Price: $<%=artwork.price %></h6> -->
              <h6 class="likes">Likes: <%=artwork.likes %></h6>
          </div>
        <% }); %>
      </div>
    </div>
    <%-include("./partials/footer.ejs")%>
  </body>
</html>
